body {
  @include font();
  @include fields();
  position: relative;
  margin: 0 auto;
  color: $black;
  background: linear-gradient(to bottom, $black, $black 825px, $white 825px); // <-- если не загрузится картинка с великом
  font-family: $font;
  overflow-x: hidden;

  @media (max-width: $desktop) {
    background: linear-gradient(to bottom, $bg-tablet, $bg-tablet 341px, $white 341px); // <-- если не загрузится картинка с великом

    & .nojs {
      background: linear-gradient(to bottom, $bg-tablet, $bg-tablet calc(341px + 100vh), $white calc(341px + 100vh));
    }
  }

  @media (max-width: $tablet) {
    background: linear-gradient(to bottom, $bg-dark, $bg-dark 390px, $white 390px); // <-- если не загрузится картинка с великом

    & .nojs {
      background: linear-gradient(to bottom, $bg-dark, $bg-dark calc(390px + 100vh), $white calc(390px + 100vh));
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

body,
*,
*::before,
*::after {
  box-sizing: border-box;
}
