.facts {
  margin-bottom: 154px;

  @media (max-width: $desktop) {
    margin-bottom: 70px;
  }
}

.facts__list {
  @include ul();
  margin: 49px auto 0;
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  counter-reset: myCounter;

  @media (max-width: $desktop) {
    margin-top: 30px;
    flex-wrap: wrap;
    max-width: 79%;
  }

  @media (max-width: $tablet) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.facts__item {
  @include font(22px, 34px, 400);
  padding-top: 52px;
  margin-right: 38px;
  width: 25%;
  position: relative;
  text-align: center;
  letter-spacing: -0.5px;

  &:last-of-type {
    margin-right: 0;
  }

  &::before {
    @include font(28px, 38px, 700);
    position: absolute;
    counter-increment: myCounter;
    content: "0"counter(myCounter);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $accent;
    text-align: center;
    letter-spacing: -1.27273px;
  }

  @media (max-width: $desktop) {
    margin-bottom: 45px;
    margin-right: 0;
    width: 47%;

    &:nth-of-type(3n):not(:last-of-type) {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet) {
    @include font(18px, 34px, 400);
    width: 100%;
    margin-bottom: 35px;

    &:nth-of-type(3n):not(:last-of-type),
    &:nth-of-type(2n):not(:last-of-type) {
      margin-bottom: 35px;
    }
  }
}
