.facts {
  margin-bottom: 154px;

  @media (max-width: $desktop) {
    margin-bottom: 70px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 81px;
  }
}

.facts h2 {
  @include font(30px, 30px, 600);
  @include fields();
  color: $dark;
  text-align: center;
  letter-spacing: -0.005em;
  max-width: 70%;
  margin: 0 auto;

  @media (max-width: $desktop) {
    @include font(24px, 41px, 600);
  }

  @media (max-width: $tablet) {
    max-width: 100%;
  }
}

.facts__list {
  @include ul();
  margin: 49px auto 0;
  max-width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  counter-reset: myCounter;

  @media (max-width: $desktop) {
    margin-top: 30px;
    max-width: 83%;
  }

  @media (max-width: $tablet) {
    margin-top: 29px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 90%;
  }
}

.facts__list li {
  @include font(22px, 34px, 400);
  padding-top: 52px;
  width: 21%;
  position: relative;
  text-align: center;
  letter-spacing: -0.5px;

  &:last-of-type {
    margin-right: 0;
  }

  &::before {
    @include font(28px, 38px, 700);
    position: absolute;
    counter-increment: myCounter;
    content: "0"counter(myCounter);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $accent;
    text-align: center;
    letter-spacing: -1.27273px;
  }

  @media (max-width: $desktop) {
    margin-bottom: 45px;
    margin-right: 0;
    width: 50%;

    &:nth-of-type(3n):not(:last-of-type) {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet) {
    @include font(18px, 34px, 400);
    padding-top: 56px;
    width: 100%;
    margin-bottom: 25px;
    min-height: 125px;

    &::before {
      @include font(28px, 28px, 700);
      top: 15px;
    }

    &:first-of-type {
      &::before {
        top: 5px;
      }
    }

    &:nth-of-type(3n):not(:last-of-type),
    &:nth-of-type(2n):not(:last-of-type) {
      margin-bottom: 35px;
    }
  }
}
