.facts__list {
  @include ul();
  counter-reset: myCounter;
}

.facts__item {
  @include font(22px, 34px, 400);
  position: relative;
  text-align: center;
  letter-spacing: -0.5px;

  &::before {
    @include font(28px, 38px, 700);
    position: absolute;
    counter-increment: myCounter;
    content: "0"counter(myCounter);
    top: 0;
    left: 50%;
    right: 50%;
    color: $accent;
    text-align: center;
    letter-spacing: -1.27273px;
  }
}
