
input {
  @include font(15px, 24px, 400);
  margin-bottom: 20px;
  padding: 13px 29px 10px;
  color: $input;
  border: 1px solid $input-border;
  border-radius: 6px;
  letter-spacing: 0.015em;

  &::placeholder {
    opacity: 0.5;
  }

  &:hover {
    border: 1px solid $accent-hover;
    transition: $tr;
  }

  &:focus {
    border: 1px solid $accent;
    transition: $tr;
  }

  @media (max-width: $desktop) {
    padding: 11px 20px 11px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
  }

  @media (max-width: $tablet) {
    padding: 13px 25px 9px;
    margin-left: 0;
    margin-right: 0;
  }
}

form button {
  @include button();
  background-color: $accent;
  border-radius: 6px;

  &:hover {
    background-color: $accent-hover;
    transition: $tr;
  }

  @media (max-width: $desktop) {
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
  }

  @media (max-width: $tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}
