.header {
  position: relative;
  min-height: 825px;
  margin-bottom: 151px;
  color: $white;

  @media (max-width: $desktop) {
    margin-bottom: 69px;
    min-height: 680px;

    &--nojs {
      background-position: center 100vh;
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: 71px;
  }
}

.header__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 825px;

  @media (max-width: $desktop) {
    max-height: 341px;
  }

  @media (max-width: $tablet) {
    max-height: 390px;
  }
}

.header--nojs .header__img {
  @media (max-width: $desktop) {
    top: 100vh;
  }
}

.header__nav {
  margin: 0 auto 255px;
  max-width: 72%;

  @media (max-width: $desktop) {
    margin-bottom: 0;
    max-width: 100%;
  }
}

.header__wrapper {
  max-width: 72%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @media (max-width: $desktop) {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.header__title {
  @include font(46px, 64px, 700);
  @include fields();

  @media (max-width: $desktop) {
    @include font(30px, 42px, 700);
    width: 70%;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet) {
    width: 90%;
  }
}

.header__text {
  @include font(20px, 32px, 300);
  @include fields();
  opacity: 0.8;

  @media (max-width: $desktop) {
    @include font(18px, 32px, 300);
    width: 55%;
  }

  @media (max-width: $tablet) {
    width: 100%;
  }
}

.header__intro {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $desktop) {
    width: 100%;
    margin-top: 25px;
    min-height: 315px;
    margin-bottom: 70px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  @media (max-width: $tablet) {
    min-height: 363px;
  }
}

.header__logo-link {
  @media (max-width: $desktop) {
    align-self: flex-start;
    margin-bottom: 80px;
    margin-left: 22px;
  }

  @media (max-width: $tablet) {
    margin: 0 0 66px 2px;
  }
}

.header__form {
  width: 327px;

  @media (max-width: $desktop) {
    width: 43%;
  }

  @media (max-width: $tablet) {
    width: 100%;
  }
}
