.section-title {
  @include font(30px, 30px, 600);
  @include fields();
  color: $dark;
  text-align: center;
  letter-spacing: -0.005em;
  max-width: 70%;
  margin: 0 auto;

  &--white {
    color: $white;
    padding-right: 10px;
  }

  @media (max-width: $desktop) {
    @include font(24px, 41px, 600);

    &--white {
      padding-right: 0;
    }
  }

  @media (max-width: $tablet) {
    max-width: 100%;

    &--white {
      margin-right: 12px;
    }

    &--contacts-mob {
      @include font(18px, 30px, 600);
    }
  }
}
